#title {
    background-color: #ff4c68;
    color: white
}

h1,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bolder;
}

.container-fluid {
    padding: 3% 15% 7%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    text-align: center;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: lighter;
}

.download-button {
    margin: 5% 3% 0%;
}

.title-img {
    size: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;

}

.icon {
    padding: 0% 0% 10%;
    color: #ff4c68;
}

#features {
    text-align: center;
    padding: 7% 15% 0%;
    position: relative;
    background-color: white;
}

.features-head {
    font-weight: bold;
    font-size: 1.3rem;
}

.features-subtitle {
    font-weight: lighter;
}

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: white;

}

.testimonials {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: white;
    font-weight: bold;
    background-color: #ef8172;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    text-align: center;
    margin: 20px;
}

em {
    color: white;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 7% 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15% 0%;
}

#pricing {
    padding: 3% 2%;
    text-align: center;
}

@media (max-widt: 1028px) {
    .title-img {
        position: static;
        rotate: 0;
        text-align: center;
    }

    #title {
        text-align: end;
    }
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    color: white;
    padding: 10%;

}


.copyright {
    font-size: 14px;
    font-weight: 400;
}

#footer {
    text-align: center;
    padding: 10% 10% 0%;
}

.icons {
    margin: 7px;
    padding-bottom: 10px;
}